    <a href="https://www.instagram.com/artemverbytskyi/" style="font-size: 10px;color:black; position: absolute; display: block; bottom: 0%; right: 45%;">Developer: Artem Verbytskyi</a>
</body>
</html>