<%- include("../partials/header") %>
    <div class="container user-info">
        <p>Nickname: <b><%= user.username %></b></p>
        <p>Your Email: <b><%= user.email %></b></p>
    </div>    

<%- include("../partials/footer") %>